@import url("https://fonts.cdnfonts.com/css/sf-pro-display");

body {
  margin: 0;
  padding: 0;
  font-family: "SF Pro Display ", sans-serif;
  background-color: #f3f6f9;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-thumb {
  background-color: #fa9c21;
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background-color: #ffeedd;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #aeb8c4;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Positioning the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.buy-sell-container {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: 70px auto;
}
